node_modules/
.venv/
__pycache__/
*.pyc
dist/
.env
*.log
src/data/credential.json
src/data/token-holding.json
frontend/.next/
frontend/dist/
frontend/.env
frontend/.env.local
backend/dist/
backend/.env
backup/dump/
log/
trade-bot-v2/sell.json
trade-bot-v2/buy.json
